<!--[if gte IE 9 | !IE ]><!-->
<link href="{{assets}}/{{site.theme}}/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="{{assets}}/{{site.theme}}/css/theme.css" />
<!--<![endif]-->
{{#if page.css}}{{#each page.css}}<link rel="stylesheet" href="{{this}}.css" />{{/each}}{{/if}}
<!--[if lt IE 9]>
<link href="{{assets}}/{{site.theme}}/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="{{assets}}/{{site.theme}}/css/ie8-theme.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/{{environment.jqueryOldIEVersion}}/jquery.js"></script>
<script src="{{assets}}/wet-boew/js/ie8-wet-boew.js"></script>
<![endif]-->

<noscript><link rel="stylesheet" href="{{assets}}/wet-boew/css/noscript.css" /></noscript>
