{{#is previousURL blank}}
<div id="coursenav"><a class="t710Next" href="{{nextURL}}">Next</a></div>
{{else}}
<div id="coursenav"><a class="t710Previous" href="{{previousURL}}">Previous</a>&nbsp;<a class="t710Next" href="{{nextURL}}">Next</a></div>
{{/is}}
