<div class="container nvbar">
	<h2>{{{i18n "tmpl-topics-menu"}}}</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
        	<li><a href="#menu_two" class="item">{{{i18n "menu-goodstructure"}}}</a>
				<ul class="sm list-unstyled" id="menu_two" role="menu">
					<li>							
						<details>
							<summary>Structured Documents - Scenario 1</summary>
							<ul role="menu">
								<li><a href="ScenarioStructured-1-tryit-{{language}}.html">Try it Yourself - Structured Documents</a></li>
								<li><a href="ScenarioStructured-1-good-{{language}}.html">{{{i18n "menu-good"}}} Results for Structured Documents</a></li>
								<li><a href="ScenarioStructured-1-bad-{{language}}.html">{{{i18n "menu-bad"}}} Results for Structured Documents</a></li>
							</ul>
						</details>
					</li>

					<li class="mrgn-tp-sm">
						<details>
							<summary>Structured Documents - Scenario 2</summary>
							<ul role="menu">
								<li><a href="ScenarioStructured-2-tryit-{{language}}.html">Try it Yourself -  Structured Documents</a></li>
								<li><a href="ScenarioStructured-1-good-{{language}}.html">{{{i18n "menu-good"}}} Results for Structured Documents</a></li>
								<li><a href="ScenarioStructured-1-bad-{{language}}.html">{{{i18n "menu-bad"}}} Results for Structured Documents</a></li>
							</ul>
						</details>
					</li>

					<li class="mrgn-tp-sm">
							<details>
							<summary>Structured Documents - Scenario 3</summary>
							<ul role="menu">
								<li><a href="ScenarioStructured-3-tryit-{{language}}.html">Try it Yourself - Structured Documents</a></li>
								<li><a href="ScenarioStructured-1-good-{{language}}.html">{{{i18n "menu-good"}}} Results for Structured Documents</a></li>
								<li><a href="ScenarioStructured-1-bad-{{language}}.html">{{{i18n "menu-bad"}}} Results for Structure Documents</a></li>
							</ul>
						</details>
					</li>
				</ul>
			</li>
			<li><a href="#menu_two" class="item">{{{i18n "menu-forms"}}}</a>
				<ul class="sm list-unstyled" id="menu_two" role="menu">
					<li>
						<details>
							<summary>Forms - Scenario 1</summary>
							<ul role="menu">
								<li><a href="form-bad-1-{{language}}.html">Experience it Yourself - Forms</a></li>
								<li><a href="form-good-1-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
							</ul>
						</details>
					</li>

					<li>							
						<details>
							<summary>Forms - Scenario 2</summary>
							<ul role="menu">
								<li><a href="form-bad-2-{{language}}.html">Experience it Yourself - Forms</a></li>
								<li><a href="form-good-2-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
							</ul>
						</details>
					</li>

					<li>							
						<details>
							<summary>Forms - Scenario 3</summary>
							<ul role="menu">
								<li><a href="form-bad-3-{{language}}.html">Experience it Yourself - Forms - 3</a></li>
								<li><a href="form-good-3-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
							</ul>
						</details>
					</li>
<!--
					<li>							
						<details>
							<summary>Forms and ARIA</summary>
							<ul role="menu">
								<li><a href="form-bad-aria-{{language}}.html">Experience it Yourself - Forms - ARIA</a></li>
								<li><a href="form-good-aria-{{language}}.html">{{{i18n "menu-good"}}} Results for Well Structure Documents</a></li>
							</ul>
						</details>
					</li>
-->
				</ul>
			</li>
			<li><a href="#menu_two" class="item">{{{i18n "menu-bad"}}} {{{i18n "menu-examples"}}}</a>
				<ul class="sm list-unstyled" id="menu_two" role="menu">
					<li>
						<details>
							<summary>{{{i18n "wcag-perceivable"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/bad-1.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-1-1"}}}</a></li>
								<li><a href="{{assets}}/bad-1.2-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.2 {{{i18n "wcag-1-2"}}}</a></li>
								<li><a href="{{assets}}/bad-1.3-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.3 {{{i18n "wcag-1-3"}}}</a></li>
								<li><a href="{{assets}}/bad-1.4-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.4 {{{i18n "wcag-1-4"}}}</a></li>
							</ul>
						</details>
					</li>	
					<li>
						<details>
							<summary>{{{i18n "wcag-operable"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/bad-2.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-2-1"}}}</a></li>
								<li><a href="{{assets}}/bad-2.2-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.2 {{{i18n "wcag-2-2"}}}</a></li>
								<li><a href="{{assets}}/bad-2.3-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.3 {{{i18n "wcag-2-3"}}}</a></li>
								<li><a href="{{assets}}/bad-2.4-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.4 {{{i18n "wcag-2-4"}}}</a></li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary>{{{i18n "wcag-understandable"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/bad-3.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-3-1"}}}</a></li>
								<li><a href="{{assets}}/bad-3.2-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.2 {{{i18n "wcag-3-2"}}}</a></li>
								<li><a href="{{assets}}/bad-3.3-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.3 {{{i18n "wcag-3-3"}}}</a></li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary>{{{i18n "wcag-robust"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/bad-4.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-4-1"}}}</a></li>
							</ul>
						</details>
					</li>
				</ul></li>
			<li><a href="#menu_three" class="item">{{{i18n "menu-good"}}} {{{i18n "menu-examples"}}}</a>
				<ul class="sm list-unstyled" id="menu_three" role="menu">
					<li>
						<details>
							<summary>{{{i18n "wcag-perceivable"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/good-1.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-1-1"}}}</a></li>
								<li><a href="{{assets}}/good-1.2-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.2 {{{i18n "wcag-1-2"}}}</a></li>
								<li><a href="{{assets}}/good-1.3-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.3 {{{i18n "wcag-1-3"}}}</a></li>
								<li><a href="{{assets}}/good-1.4-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.4 {{{i18n "wcag-1-4"}}}</a></li>
							</ul>
						</details>
					</li>	
					<li>
						<details>
							<summary>{{{i18n "wcag-operable"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/good-2.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-2-1"}}}</a></li>
								<li><a href="{{assets}}/good-2.2-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.2 {{{i18n "wcag-2-2"}}}</a></li>
								<li><a href="{{assets}}/good-2.3-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.3 {{{i18n "wcag-2-3"}}}</a></li>
								<li><a href="{{assets}}/good-2.4-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.4 {{{i18n "wcag-2-4"}}}</a></li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary>{{{i18n "wcag-understandable"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/good-3.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-3-1"}}}</a></li>
								<li><a href="{{assets}}/good-3.2-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.2 {{{i18n "wcag-3-2"}}}</a></li>
								<li><a href="{{assets}}/good-3.3-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.3 {{{i18n "wcag-3-3"}}}</a></li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary>{{{i18n "wcag-robust"}}}</summary>
							<ul role="menu">
								<li><a href="{{assets}}/good-4.1-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">1.1 {{{i18n "wcag-4-1"}}}</a></li>
							</ul>
						</details>
					</li>
				</ul></li>
			<li><a href="#menu_four" class="item">{{{i18n "menu-references"}}}</a>
				<ul class="sm list-unstyled" id="menu_four" role="menu">
					<li><a href="http://www.w3.org/WAI/WCAG20/quickref/">{{{i18n "ref-1"}}}{{{i18n "english-only"}}}</a></li>
					<li><a href="{{#contains language "fr"}}http://www.w3.org/Translations/WCAG20-fr{{else}}http://www.w3.org/TR/WCAG20/{{/contains}}">{{{i18n "wcag-name"}}}</a></li>
					<li><a href="http://webaim.org/standards/wcag/checklist">{{{i18n "ref-3"}}}{{{i18n "english-only"}}}</a></li>
					<li>
						<details>
							<summary>{{{i18n "tmpl-wet"}}}</summary>
							<ul role="menu">
								<li><a href="http://wet-boew.github.io/wet-boew/index-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-home-page"}}}</a></li>
								<li><a href="http://wet-boew.github.io/v4.0-ci/demos/index-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-work-examples"}}}</a></li>
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-style-guide"}}}</a></li>
							</ul>
						</details>
					</li>
					<li><a href="{{assets}}/course-ref-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">{{{i18n "ref-4"}}}</a></li>					
				</ul></li>		
			<li><a href="#menu_five" class="item">{{{i18n "menu-links"}}}</a>
				<ul class="sm list-unstyled" id="menu_five" role="menu">
					<li>
						<details>
							<summary>{{{i18n "link-toolbars"}}}</summary>
							<ul role="menu">							

								<li><a href="http://www.paciellogroup.com/resources/contrast-analyser.html">{{{i18n "link-cca"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="http://wave.webaim.org/toolbar/">{{{i18n "link-wave"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/">{{{i18n "link-webdev"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="https://addons.mozilla.org/en-us/firefox/addon/wcag-contrast-checker/">{{{i18n "link-colorcheck"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="http://www.visionaustralia.org/business-and-professionals/digital-access/resources/tools-to-download/complex-data-table-markup-toolbar">{{{i18n "link-cdtm"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="https://addons.mozilla.org/en-us/firefox/addon/firebug/">{{{i18n "link-firebug"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="https://addons.mozilla.org/en-us/firefox/addon/accessibility-evaluation-toolb">{{{i18n "link-aet"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="http://bitly.com/bundles/gmyxgpws/2">{{{i18n "link-list"}}}{{{i18n "english-only"}}}</a></li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary>{{{i18n "link-citylights"}}}</summary>
							<ul role="menu">
								<li><a href="http://www.w3.org/WAI/demos/bad/before/home.html">{{{i18n "menu-bad"}}} {{{i18n "tmpl-home-page"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="http://www.w3.org/WAI/demos/bad/after/home.html">{{{i18n "menu-good"}}} {{{i18n "tmpl-home-page"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="http://www.w3.org/WAI/demos/bad/before/survey.html">{{{i18n "menu-bad"}}} {{{i18n "tmpl-survey"}}}{{{i18n "english-only"}}}</a></li>
								<li><a href="http://www.w3.org/WAI/demos/bad/after/survey.html">{{{i18n "menu-good"}}} {{{i18n "tmpl-survey"}}}{{{i18n "english-only"}}}</a></li>
							</ul>
						</details>
					</li>
					<li><a href="mailto:guy.moreau@csps-efpc.gc.ca">{{{i18n "ref-make-suggestion"}}}</a></li>	
				</ul></li>					
				<li class="pull-right">
					<ul class="list-inline menu" role="menubar">
						{{#isnt previousURL blank}}
							<li><a href="{{previousURL}}" rel="prev" id="t710Previous">{{{i18n "menu-previous"}}}</a></li>
						{{/isnt}}
						<li><a href="{{nextURL}}" rel="next" id="t710Next">{{{i18n "menu-next"}}}</a></li>
					</ul>
				</li>
        </ul>
    </div>
</div>
