<div class="col-md-12">
	<p>Wouldn't it be great if you had enough time to read and understand the content on a page before some silly bit of code interrupted you?</p>
	<p>Some people think that it is helpful to whisk you away to a new page if they have removed content.</p>
	<p>Unfortunately, they rarely think about how confusing it might be for many different users.</p>
</div>