<div class="col-md-12">
	<button class="bad" id="last">First</button>
	<button class="bad" id="num2">Second</button>
	<button class="bad" id="num3">Third</button>
	<button class="bad" id="num1">Fourth</button>
</div>