<div class="col-md-12"><p><b>Tips</b></p>
	<blockquote>
		<img src="images/tips.gif" alt="tips"><a href="http://www.w3.org/WAI/WCAG20/from10/diff.php">How WCAG 2.0 Differs from WCAG 1.0</a><br />
		<img src="images/tips.gif" alt="tips"><a href="http://www.w3.org/WAI/WCAG20/from10/comparison/">Comparison of WCAG 1.0 Checkpoints to WCAG 2.0, in Numerical Order </a><br />
		<img src="images/tips.gif" alt="tips"><a href="http://www.w3.org/TR/WCAG20-TECHS/intro.html">Introduction to Techniques for WCAG 2.0</a><br />
		<img src="images/tips.gif" alt="tips"><a href="http://www.usability.com.au/resources/wcag2/">Accessible Forms using WCAG 2.0</a><br />
	</blockquote>
</div>