<div class="col-md-12"><p>The purpose of the Web Standards presence on GCpedia is to encourage collaboration on <a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp">common</a> Web accessibility, Web Usability, Web Interoperability, Mobile Applications and Email Addresses related issues. Individuals are encouraged to both improve and add to this existing presence to help develop guidance and solutions for common issues. The four Web Standards (Web Accessibility, Web Usability and Web Interoperability) have replaced the Common Look and Feel 2.0 Standards for the Internet (CLF2).</p>


	<strong>New standards for the Web, Email and mobile</strong>

	<p>The following Web Standards replace Common Look and Feel 2.0:</p>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Standard on Web Accessibility was released in August 2011, and was updated on March 31, 2013. It replaces Part 2 of CLF 2.0.</span><span><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=23601">More...</a></span><br />
	<span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Standard on Web Usability was released in September 2011, and was updated on March 31, 2013. It replaces Parts 1 and 3 of CLF 2.0.</span><span><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227">More...</a></span></span><br />
	<span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Standard on Web Interoperability came into effect July 1, 2012 and was updated on March 31, 2013.</span><span><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=25875">More...</a></span><br />
	<span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Standard on Optimizing Websites and Applications for Mobile Devices came into effect on April 1, 2013.</span><span><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27088">More...</a> </span><br />
	<br />
	<strong>The following policy instruments are under development:</strong>
	<p><a href="http://www.gcpedia.gc.ca/wiki/Draft_Standard_on_Email_Addresses">Draft Standard</a> on Email Addresses is now available in draft format for comment (Updated as of November 7, 2012). When approved, this Standard will replace Part 4 of CLF 2.0. </p>
	<p>The <a href="http://www.gcpedia.gc.ca/wiki/Draft_Guidance_on_Mobile_Standard">Draft Guidance</a> on Mobile Standard supports the <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27088">new Standard</a> on Optimizing Websites and Applications for Mobile Devices.</p>
</div>