<div class="col-md-12"><p>Click on the little red button in the bottom left corner to continue...</p>
	<p>But first make sure you fill out the following form:</p>
	<form role="form" method="get" action="thanks-en.html">
		<div class="form-group">First Name:<input class="form-control" style="display:inline" name="fn" type="text" /></div>
		<div class="form-group">Social Insurance Number:<input class="form-control" style="display:inline" name="sin" maxlength="11" size="11" value="" id="sin" type="text"></div>			
		<div class="form-group">Last Name:<input class="form-control" style="display:inline" name="ln" type="text" /></div>
		<div class="form-group">Date of birth:</div>
		<div class="form-group">Day<input name="birthDay" class="form-control" style="display:inline" maxlength="2" size="3" value="" id="b_day" title="Day of birth" type="text"></div>
	
		<div class="form-group">Month<select name="birthMonth" class="form-control" style="display:inline" id="fsm" title="Month of birth"><option value="">&nbsp;</option>
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="03">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option></select>
		</div>
		<div class="form-group">Year<input name="birthYear" class="form-control" style="display:inline"  maxlength="4" size="4" value="" id="fsy" title="Year of birth" type="text"></div>
		
		<div class="form-group">Current marital status:
			<i>(This information may help us determine your eligibility for other benefits)</i><br />

			<select name="maritalStatusCode" class="form-control" style="display:inline"  id="maritalStatus" class="formelementdetailsvalue">
				<option value="">Select one</option>
				<option value="5">Common Law</option>
				<option value="2">Divorced</option>
				<option value="3">Married</option>
				<option value="6">Separated</option>
				<option value="1">Single</option>
				<option value="4">Widow(er)</option>
			</select></div>
		<div class="form-group">Preferred language for correspondence:
		<select name="officialLanguageOfBusinessCode" class="form-control" style="display:inline"  id="languageDropDown"><option value="1">English</option>
			<option value="2">French</option></select></div>
			
		<div class="form-group">Pick a number: 
			Choice 1<input id="Choice1" class="form-control" style="display:inline" name="choises" value="1" type="radio">
			Choice 2<input id="Choice2" class="form-control" style="display:inline" name="choises" value="2" type="radio">
			Choice 3<input id="Choice3" class="form-control" style="display:inline" name="choises" value="3" type="radio"></div>
		<div class="form-group">Pick a letter: Choice A<input id="Choicea" class="form-control" style="display:inline" name="choises2" value="4" type="checkbox">Choice B<input id="Choiceb" class="form-control" style="display:inline" name="choises2" value="5" type="checkbox">Choice C<input id="Choicec" class="form-control" style="display:inline" name="choises2" value="6" type="checkbox">
		
		<button type="submit" style="display:inline color:white !important; background-color:red !important" value="Next">Next</button><br /></div>
		<p>Note: Make sure you have filled out all the required fields</p>
	</form>
</div>