<div class="col-md-12"><a href="#" class="pill"><img src="images/pill-1r.jpg" alt="pill"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="pill"><img src="images/pill-2b.jpg" alt="pill"></a></div>