<div class="col-md-12">We will not cause the screen to flash in a manner which might induce a seizure. This is due to <a href="http://en.wikipedia.org/wiki/Photosensitive_epilepsy">Photosensitive Epilepsy</a>, which can be fatal.</p>

	<p>There is some guidance for calculating the "safe area" a flashing object occupy on a page</p>

	<p>The combined area of flashes occurring concurrently occupies no more than a total of .006 steradians within any 10 degree visual field on the screen (25% of any 10 degree visual field on the screen) at typical viewing distance.</p>

	<p>For general software or Web content, using a 341 x 256 pixel rectangle anywhere on the displayed screen area when the content is viewed at 1024 x 768 pixels will provide a good estimate of a 10 degree visual field for standard screen sizes and viewing distances (e.g., 15-17 inch screen at 22-26 inches). (Higher resolutions displays showing the same rendering of the content yield smaller and safer images so it is lower resolutions that are used to define the thresholds.)</p>
</div>