<div class="col-md-12"><p>Aussi disponible en français sous le titre Rapport annuel du Régime de pensions du Canada 2006-2007.</p>
<p>For more details on subjects covered in this report, or about the Canada Pension Plan in general, please visit: www.hrsdc.gc.ca.</p></div>