<div class="col-md-12">
	<video width="480" height="270" poster="http://31591.vws.magma.ca/sct-tbs/wet-boew/thumbnail.png" title="Video Example" controls>
		<source src="media/demo-2-eng.webm" type="video/webm" />
		<source src="media/demo-2-eng.mp4" type="video/mp4" />			
	</video>
</div>