<div class="col-md-12"><h3>WebAxe Pocast #89 - CSUN 2011 Preview</h3>	
	
	<audio id='audioPlayer' title="Audio Example">
		<source src="media/web_axe_episode_89.ogg" type="audio/ogg" />
		<source src="media/web_axe_episode_89.mp3" type="audio/mp3" />			
	</audio>

	
	<details id="inline-captions-audio-only">
		<summary>WebAxe Pocast #89 - CSUN 2011 Preview - Transcript</summary>
		
		<dl>
			<dt>[Introduction, woman's voice over music]</dt><dd>Welcome to Web Axe, practical web accessibility tips. Web Axe dot blogspot dot com. Web Axe. Web site accessibility. Web standards. Web Axe dot blogspot dot com.</dd>
			<dt>Dennis Lembree:</dt><dd>Hello, and welcome to "Web Axe Podcast #89: CSUN 2011 Preview." This is your host, as always, Dennis. And I have a special, two special guests today. Jennison Asuncion and Jared Smith. Hello, guys.</dd>
			<dt>Jared Smith: </dt><dd>Hello.</dd>
			<dt>Jennison Asuncion: </dt><dd>Hey, Dennis.</dd>
			<dt>Dennis: </dt><dd>Thanks for joining me tonight in this exciting podcast.</dd>
			<dt>Jennison: </dt><dd>I'm looking forward to getting away from the snow here and getting into San Diego.</dd>
			<dt>Jared: </dt><dd>Ditto.</dd>
			<dt>Dennis: </dt><dd>Yeah, really. You guys aren't exactly in the warmest places in North America.</dd>
			<dt>[laughter]</dt><dd></dd>
			<dt>Dennis: </dt><dd>Canada and Utah.</dd>
			<dt>Jared: </dt><dd>Yep.</dd>
			<dt>Dennis: </dt><dd>So we're going to talk about the 26th Annual International Technology and Persons with Disabilities Conference, otherwise known as CSUN. The reason they call it that is because of who puts on the conference, and that's the California State University Northridge.<br />
				I've only been one time before, so you know, I'm not a big expert on this conference. But I guess I've been to this new location as much as everybody else. Because last year, I believe, it was the first time in downtown San Diego.<br />
				I believe it's ... is it North America's largest conference about disabilities?</dd>
			<dt>Jared: </dt><dd>I think so.</dd>
			<dt>Dennis: </dt><dd>Yeah, I'm pretty sure, from what I've heard. And so besides web accessibility, there's lots of other categories of sessions or tracks, I guess you could say, education, employment, learning disabilities, blind, and a new one, from what you guys have told me, emerging assistive technologies.</dd>
			<dt>Jared: </dt><dd>You got it. You got it. And one of the other things that is growing in popularity is aging.</dd>
			<dt>Dennis: </dt><dd>Ah-ha.</dd>
			<dt>Jared: </dt><dd>So there's that whole kind of meeting of aging and disability and [indecipherable 02:48] .</dd>
			<dt>Dennis: </dt><dd>Right. Good point. Good point. OK, so before we really get into it, I'll let you guys do just a real quick intro. I've had you both on the show before, but for anyone who for some reason doesn't know you guys, who you are, and familiar with your work, let's just go ahead and do a quick intro. Jared, do you want to go first?</dd>
			<dt>Jared: </dt><dd>Sure. I'm Jared Smith from WebAIM. WebAIM is a nonprofit entity. We're based at the Center for Disabilities at Utah State University. And we do web accessibility consulting and technical assistance and really whatever people need help with in making their websites accessible. You can find a lot of information on our website at WebAIM.org.</dd>
			<dt>Dennis: </dt><dd>Great, and that's WebAIM.org.</dd>
			<dt>Jared: </dt><dd>Yep.</dd>
			<dt>Dennis: </dt><dd>Jennison?</dd>
			<dt>Jennison: </dt><dd>Yeah, so in my night job, I co-direct the Adaptech Research Network. It's out of Dawson College in Montreal. And we do research into the uses and accessibility of different technologies by college and university students with disabilities. And you can learn more about that by going to Adaptech.org.<br />
				And then, in my day job, I do accessibility in the name. But looking forward to going to CSUN!</dd>
			<dt>Dennis: </dt><dd>Yeah, that's going to be fun, I had a great time last year. And I'm anticipating an even better time this year. Now, I know a lot more people and know them better than last year, so it's going to be pretty cool. Hopefully, many of you listening can make it, and if not, just try next year. I know it's not cheap, especially if you have to travel far, but it definitely is worth it if you can make it.</dd>
			<dt>Jared: </dt><dd>You know, it really is just an amazing conference. So many people there that are just passionate about accessibility and I think this will be my eighth or ninth year going. And it's just the one conference that I go to every year that I just leave feeling rejuvenated.<br />
				It reminds me what it is that I'm doing, who I'm helping, and to see so many people there that have disabilities and that, you know, just to interact with them and just share what it is that we're passionate about. It's just an amazing conference.</dd>
			<dt>Jennison: </dt><dd>Yeah, it's interesting because this will be number seven for me. When I went for the first time ... whenever anybody goes for the first time, I don't know if you remember back then, Jared, but it's overwhelming. I don't know how you felt, Dennis.<br />
				Pretty much there's so many things to do and it's so hard to choose. I know this year they cut out the Saturday sessions, so there's going to be a lot more sessions to choose from, even more probably, this time.<br />
				But it's never easy to choose, so just for the new people coming this year, just pace yourself and give yourself time to have break, so you can just sit and meet with people or go visit the exhibit hall or halls, I hear there are two this year.</br>
				But to go visit the exhibits and do all that other stuff, because otherwise you just get overwhelmed, right? You're just sitting in sessions, you're tired at the end of the day, and you don't want to do anything else.</dd>
			<dt>Dennis: </dt><dd>Yeah. Well, for me, last year was my first time. And I was giving one session on Twitter and Web Accessibility, so I was focused on that and you know, the Web Accessibility track and so yeah, it worked out pretty well for me.<br />
				But this year, I'm not presenting. Although on Saturday, there's going to be a few activities going on and I will be on a panel of judges on that Saturday. And that, we can talk about more later, if we get to it. But let's briefly talk about the sessions that you guys are going to do. Jared?</dd>
			<dt>Jared: </dt><dd>Yeah, we have a full schedule. We're giving a pre-conference workshop on Tuesday. It's a full day session on HTML5 and ARIA. So a lot of tentative and cutting-edge innovation of web accessibility. We're doing that workshop with Steve Faulkner and someone from the Paciello Group, and that'll be a lot of fun.<br />
				So we did something similar last year, and it was well-attended and well-received, I think. So a good opportunity, I think to really learn HTML5 and ARIA from the people that are creating and really on the cutting-edge of this.<br />
				So that's the first thing we're doing, that's all day Tuesday, and then WebAIM has four other sessions. We have one that's called, we called it "The Screen Reader Web Accessibility Face-off." And we called it "Face-off" because "Death Match" was a little bit too strong.</dd>
			<dt>[laughter]</dt><dd></dd>
			<dt>Jared: </dt><dd>But really, what we're going to do there is just have a little bit of fun, and compare screen readers and standards compliance, how they handle standard web accessibility and just provide a little overview of some various screen readers and what they do, and what some of the futures are and compare them a little.<br />
				Another session that we're doing, this is actually a panel, and it'll involve Jennison, as well as Sandi Wassmer, who's coming in from England, and John Foliot, who's the accessibility expert at Stanford University. We're going to do a panel titled "Do We Need to Change the Web Accessibility Game Plan?"<br />
				So really, just discussing the current and future state of web accessibility, what we're doing, how we can do to make web accessibility a little more mainstream, a little more efficient, and hopefully remove some of the barriers to web accessibility.<br />
				We have a session on Friday that's going to review our screen reader surveys. We've conducted now three surveys of screen readers and we've just found some really fascinating information and data that we've collected from those.<br />
				We're going to share information from our most recent survey. The results of which, have not even been published yet.</dd>
			<dt>Dennis: </dt><dd>Yeah. I was going to say "Was this going to be the premier of the WebAIM screen reader survey?"</dd>
			<dt>Jared: </dt><dd>Pretty much. We're crunching data right now. We're going to release data probably towards the end of this month and then, of course, we'll be discussing it at CSUN a couple of weeks later, so that'll be exciting.<br />
				So really, just really pretty fascinating things that we've found thus far in the data and hope to be able to share that.<br />
				And then on Friday, we're going to do a session previewing the next version of WAVE, which is our web accessibility evaluation tool. So a lot of really exciting features there that we're going to be happy to kind of give people a sneak peak into.</dd>
			<dt>Dennis: </dt><dd>That's awesome. That's all great stuff. And especially the first session you mentioned, the HTML5 and ARIA, I mean, who else better can you have for the ARIA besides Steve Faulkner and Hans Hillen?</dd>
			<dt>Jared: </dt><dd>Yeah, no doubt.</dd>
			<dt>Dennis: </dt><dd>That's awesome.</dd>
			<dt>Jared: </dt><dd>And you know, people live for those pre-conferences, you know, for instance, it's a few hundred dollars to get a full day of training that's, to be honest, if you were to go to either one of our workshops, the Paciello Group or WebAIM or anywhere else, you know, you're going to be paying a lot more than that for a day of training, generally, on accessibility, just at the level of the guests.<br />
				It's really a pretty good deal and you're going to get a lot of content.</dd>
			<dt>Dennis: </dt><dd>Yeah. So, Jennison, I know that Jared kind of mentioned one of your activities already. I guess you want to tell us what you're going to be up to.</dd>
			<dt>Jennison: </dt><dd>Sure. So in addition to sitting on the panel that Jared had invited me to, I'm going to be speaking with some friends and colleagues from Washington D.C. Patrick Timony, who is the adaptive technology librarian over at the Martin Luther King Library, and John F. Croston III, who does accessibility goodness for ARMY.MIL.<br />
				And we're going to be talking about the work we've been doing educating developers and others using the Unconference Format. And we've had some fun and some good success running accessibility Unconferences at Barcamp in Washington D.C. and I gave a hand to one in Boston.<br />
				And so we're going to talk about that and the plan is to leave people inspired enough to run one of these in their own city. I look at it as another way to give awareness and training to developers and all the people at the grass roots who really aren't able to come to a conference like CSUN but who are interested in accessibility and who want to get some basic information or some advanced information.<br />
				It's all about community-building and building it up the grass roots. And we're doing that. I was just checking the schedule now. I think we're on Wednesday, but well, just keep talking.</dd>
			<dt>[laughter]</dt><dd></dd>
			<dt>Dennis: </dt><dd>But I think, go ahead, Jared.</dd>
			<dt>Jared: </dt><dd>I just looked it up for you, it's Wednesday at 9:20 in the morning.</dd>
			<dt>Dennis: </dt><dd>That was pretty big last year, the Barcamp/Unconference Format going on. And if you look for that session, the official title is "Building IT Accessibility Awareness and Community Using the Barcamp/Unconference Format."</dd>
			<dt>Jennison: </dt><dd>Hey, we were told not to use catchy titles.</dd>
			<dt>Dennis: </dt><dd>Yeah. CSUN titles, you've got to be considerate, right? I know. I know they let Jared have a little slack with that.</dd>
			<dt>[laughter]</dt><dd></dd>
			<dt>Jared: </dt><dd>We didn't go with the "Death Match" so.</dd>
			<dt>[laughter]</dt><dd></dd>
			<dt>Jennison: </dt><dd>Can I just say, though, one of the things I think that you were mentioning, not necessarily around that if you can't this year, to think about next year, but certainly if you're on Twitter, you can follow the CSUN '11 Conference hashtag, and certainly at more than you bargained for. CSUN wall-to-wall coverage.</dd>
			<dt>Dennis: </dt><dd>Great point, yes. Follow #CSUN11 hashtag on Twitter, our best friend.</dd>
			<dt>Jennison: </dt><dd>And we're having a Tweet-up that Jared and [indecipherable 13:09] are running.</dd>
			<dt>Dennis: </dt><dd>Yeah. You want to tell us about that, Jared?</dd>
			<dt>Jared: </dt><dd>Sure. We only started this a few years ago. When Twitter was just starting up, we started hearing about these install Tweet-ups, get-togethers from people that were on Twitter. And we thought, hey, let's try that at CSUN.<br />
				And we did it a couple of years ago and it was just a great success, had a lot of people there. And evangelized web accessibility and Twitter at the same time. So we've done it the last couple of years. It's going to be Thursday evening there at the conference hotel.<br />
				And just a chance to come, network, is our primary objective with Tweet-up. Get to meet people, maybe people that you only know electronically through Twitter or other sources. So just network, come. We're going to have some lightning talks on accessibility, just five-minute, quick presentations that'll be a lot of fun.<br />
				Hope you come out even if you're not coming to the conference. We'd be happy to have people that might be in the San Diego area come out, and we'd be happy to talk accessibility with you.</dd>
			<dt>Jennison: </dt><dd>I think it's also worth pointing out, Jared, on what you just said, the actual exhibit hall is free. If you're in San Diego and you just want to pick up the exhibit hall but can't come for the conference, that's also free, to drop in on the exhibits.</dd>
			<dt>Dennis: </dt><dd>Great point.</dd>
			<dt>Jared: </dt><dd>You can get information on the Tweet-up at csuntweetup.com. We're going to start at 6:00 on Thursday and go for...well, till we're done.</dd>
			<dt>Dennis: </dt><dd>Do you guys have sponsors and everything lined up for that?</dd>
			<dt>Jared: </dt><dd>Yeah. We've got a few sponsors; we're working on some others. If you wanted to sponsor, that'd be great too. Just help with refreshments and just help cover the expenses of the location, things like that.</dd>
			<dt>Dennis: </dt><dd>Right. Like Jennison mentioned, if you can't make it to the actual conference, to pay for the sessions and stuff, come and check out the exhibit hall. The grounds of the hotel are really nice too. I was really impressed. That was my first time to San Diego last year and it was really cool.</dd>
			<dt>Jared: </dt><dd>It was a step up over the hotel that was in between the runways of LAX for 24 years. So San Diego, looking out over the bay, it was definitely an improvement.</dd>
			<dt>Jennison: </dt><dd>I have to say, as someone who is blind, I appreciated having ... and hopefully they'll do it again this year. But they had tours for blind folks so you could just get orientation around to where the different conference session rooms are and such. And the hotel layout itself is fairly straightforward.<br />
				So if we have blind listeners to the podcast, lookout for either tours, our hunt me down and I'll be happy to show you around. But the lobby and all the public spaces are very straightforward.</dd>
			<dt>Dennis: </dt><dd>They've got to be doing that again this year, I would think.</dd>
			<dt>Jennison: </dt><dd>They have more room, too.</dd>
			<dt>Dennis: </dt><dd>That was funny, last year, Jennison was leading me around the hotel. [laughs] So, yeah, that was pretty funny.</dd>
			<dt>Jennison: </dt><dd>Dennis, you're staying off-site, right? You're not staying at the conference hotel?</dd>
			<dt>Dennis: </dt><dd>Correct. Yeah, I'll be off-site. Hopefully next year I can actually stay at the hotel.</dd>
			<dt>Jennison: </dt><dd>But I think it's important to tell listeners that obviously it's really good if you can stay at the conference hotel, but for those who can't necessarily absorb the cost, there are so many hotels around the vicinity. So don't let the cost of the conference hotel keep you from potentially coming if you can afford the rest of it.<br />
				Like any other conference, right, there's always a conference hotel, but there's other hotels right around the area. I know I've stayed at an Embassy Suites which is right across the street last year. But this year I'll be staying at the Hyatt.<br />
				So, yeah, just look around. Use whatever trip tools you have and see what's closest. But don't let that stop you from coming, you can come anyway.</dd>
			<dt>Dennis: </dt><dd>Good point. The next note I have here is if you're going and you're a web/social media buff, you can always register at Lanyard.com. Our friend John Foliot from Stanford, I believe, is a big Lanyard fan and has registered since 9/11 on there. So you just go to lanyard.com and look up CSUN 11 and you could put your name on there to show that you're attending or that you're presenting or whatever. It's a cool website.</dd>
			<dt>Jennison: </dt><dd>Just to add on to that, Dennis, [indecipherable 18:08] Smith set up the LinkedIn event. So those of you on LinkedIn and you want to show it to your professional colleagues there that you're attending the conference. So whether you use Lanyard or LinkedIn, it's always good to bring this conference to a more mainstream crowd.<br />
				If you're on LinkedIn and you're coming, just search for CSUN as an event. And CSUN is also on Facebook. They sent out accessibility tests on their own Facebook page as well, and you can check in or "like" the conference there, however you show attendance on Facebook.<br />
				So there's a bunch of different ways. And I think the more ways we all kind of do that, in a way it's kind of hidden there, but we're showing to you, people who might not know about accessibility, about these conferences. And the more we do that, the more we can get accessibility more mainstream.</dd>
			<dt>Dennis: </dt><dd>Oh, for sure. And that's awesome that everybody's doing this and that's what social media is for. And that's why I invite you guys to come on the show, because I obviously don't know everything that's going on. So that's a great point. You get Lanyard and LinkedIn and Twitter and whatever else.<br />
				OK, yeah, so like I said, I'm not presenting, but I was asked to be on that panel of judges on Saturday morning. So that's cool. There's this SS12 Code-A-Thon going on. Go to ss12.info for more information.<br />
				But basically it's a contest for college students to create accessible websites and other technologies. And Michael Ausiello and myself and ... who else? A couple of other folks I'm not familiar with. Somebody from Microsoft is going to be judging. So that should be fun.</dd>
			<dt>Jennison: </dt><dd>Daniel Hubble?</dd>
			<dt>Dennis: </dt><dd>No. Aniska Perkins?</dd>
			<dt>Jennison: </dt><dd>OK. I think that's great. That's that whole Project Possibility thing. And I think that you'd agree with me that this is great that college students are getting educated on accessibility. Because I think that's one area that we really need to start looking at, is educating those people who in school now about accessibility, so they can put that on their resume and sell it as skill and build more accessible apps.</dd>
			<dt>Jared: </dt><dd>Absolutely.</dd>
			<dt>Dennis: </dt><dd>Yes. It's an opportunity for undergraduate and graduate software developers to make a profound difference by developing innovate, empowering software projects for disabled persons, and win prizes for their work. So, yeah, that'll be a good thing.</dd>
			<dt>Jennison: </dt><dd>One piece of advice I have is be sure you register in your session that you want to go to. Because there are people at the door at the different sessions who are checking out, just to make sure that there's enough room and safety stuff.</dd>
			<dt>But I</dt><dd> would definitely...it also keeps you on track. Because for me, I'm always off track. So having a confirmed set of sessions that I'm supposed to be going to at least keeps things on some sort of level playing field.<br />
				It doesn't mean you can't sneak out, but it'll at least remind you of the stuff you want to look at.</dd>
			<dt>Dennis: </dt><dd>Yeah, that's a great point. I've got to do that myself. So if you're registered for the conference, you should log in and go and, for the sessions you want to attend, make sure that you register for that sessions.</dd>
			<dt>Jennison: </dt><dd>Yeah, you do it through your notebook.</dd>
			<dt>Dennis: </dt><dd>Jared?</dd>
			<dt>Jared: </dt><dd>You know, there's so many to choose from, it's hard. Just looking through the schedule, there's a lot of really good, exciting sessions this year. So just go and get what you can. And then network like crazy.<br />
				This conference is really about the people, the people you get to meet and learn form. If you can make it, we'd be excited to meet you there.</dd>
			<dt>Jennison: </dt><dd>Absolutely.</dd>
			<dt>Dennis: </dt><dd>And just to reiterate, what you mentioned earlier about the trends, can you elaborate on that? About the trends going more electronic and the emerging assisted technology track and things like that.</dd>
			<dt>Jared: </dt><dd>Yeah. You know, CSUN was more traditionally, in years past, really focused on assisted technology. And I think we've seen in a shift, in the last several years at least, more towards Web, more towards Internet technologies. Emerging things like mobile and gaming, things like that.<br />
				So it's exciting. There's still certainly a very strong emphasis on assisted technology, and there should be. But it's interesting just to see how technology, really even emerging technology, has really become a pretty strong theme of the conference.</dd>
			<dt>Dennis: </dt><dd>Yeah, that's a good point. That's one of the main reasons I wanted to go, because there's more of the Web accessibility and the mobile. It's not a track yet, I guess, but there's a lot of sessions on mobile accessibility, right?</dd>
			<dt>Jared: </dt><dd>Mm-hmm.</dd>
			<dt>Dennis: </dt><dd>Anything else you wanted to add, Jennison?</dd>
			<dt>Jennison: </dt><dd>Just, you may have done this in your intro, Dennis, but just to remind folks of the dates, the pre-conference is from the 14th the 15th.</dd>
			<dt>[laughter]</dt><dd></dd>
			<dt>Dennis: </dt><dd>You know what, I might have missed that part. Yeah, go ahead.</dd>
			<dt>Jennison: </dt><dd>And the conference dates themselves are the 16th, 17th, and 18th, Wednesday through Friday. And you can, if you want to... I don't work for CSUN, by the way. But you can if you want to, go and pay for a single day. If you can only stay, make it a long weekend and come to San Diego on the third day, come on the Friday.<br />
				Tuesday night there's the opening ceremony, which is not to be missed. I believe it's at ... yeah, it's an international panel this year. I believe, if my memory serves. Jared, you may remember a little bit more.</dd>
			<dt>Jared: </dt><dd>No, I don't.</dd>
			<dt>Jennison: </dt><dd>I think it's a panel this time around, talking about the topics. So that can be interesting. But I know that there's a bunch of folks who are coming straight from South by Southwest to CSUN. So I know it's going to be busy for those of you who are doing that but.</dd>
			<dt>Jared: </dt><dd>And the conference website is csunconference.org.</dd>
			<dt>Dennis: </dt><dd>Correct. And I'll put that link and the hotel link and stuff in the show notes. I'm not sure, did I say the dates at the beginning? The full conference is March 14th through the 19th, the Monday through the Saturday. The pre-conference is the Monday-Tuesday, the conference is Wednesday through Friday, and then Saturday they just have some of these extracurricular activities.</dd>
			<dt>Jennison: </dt><dd>Yeah, I think the exhibit hall is open on Saturday as well.</dd>
			<dt>Dennis: </dt><dd>Oh, OK.</dd>
			<dt>Jennison: </dt><dd>Again, if there are folks who are San Diego local, you can swing by the Hyatt and check out the exhibits at least.</dd>
			<dt>Dennis: </dt><dd>Wow, that was a lot of great information, you guys. So thanks again for joining me. And I will see you next month at CSUN.</dd>
			<dt>Jennison: </dt><dd>See you guys there.</dd>
			<dt>Jared: </dt><dd>Yeah, see you there. Thank you, Dennis.</dd>
			<dt>Dennis: </dt><dd>OK, bye.</dd>
			<dt>[exit music]</dt>
		</dl>
	</details>
	<details>
		<summary>Source:</summary>
		<p><a href="http://www.webaxe.org/podcast-89-csun-2011-preview">Web Axe Episode 89 (CSUN 2011 Preview)</a>; <a href="http://www.weboverhauls.com/web_axe_podcast/transcripts/89.htm">Original Transcript</a></p>
	</details>
</div>