<div class="wb-frmvld">
	<form role="form" method="get" action="thanks-en.html">
		<div class="form-group">
			<label for="name" class="required"><span class="field-name">Full Name</span> <strong class="required">(required)</strong></label>
			<input class="form-control" name="name" id="name" type="text" aria-required="true" required="required">
		</div>

		<div class="form-group">
			<label for="sin" class="required"><span class="field-name">Social Insurance Number:</span><strong class="required">(required)</strong></label>

			<input class="form-control" required="required" name="sin" maxlength="11" size="11" value="" id="sin" type="number" max="999999999" data-rule-minlength="9">
		</div>

		<fieldset class="form-inline">
			<legend class="required"><span class="field-name">Date of birth</span> <strong class="required">(required)</strong></legend>
			
			<div class="form-group">
				<label for="b_day">Day</label>
				<input class="form-control" name="birthDay" max="31" value="" id="b_day" title="Day of birth" type="number" aria-required="true" required="required">
			</div>

			<div class="form-group">
				<label for="fsm">Month</label>
				<select class="form-control" name="birthMonth" id="fsm" title="Month of birth" aria-required="true" required="required">
					<option></option>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">Jun</option>
					<option value="07">Jul</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
			</div>

			<div class="form-group">
				<label for="fsy">Year</label>
				<input class="form-control" name="birthYear" max="9999" min="1850" value="" id="fsy" title="Year of birth" type="number" data-rule-minlength="4" aria-required="true" required="required">
			</div>
		</fieldset>

		<div class="form-group">
			<label class="required" for="languageDropDown">Preferred language for correspondence: <strong class="required">(required)</strong></label>
			<select class="form-control" name="officialLanguageOfBusinessCode" id="languageDropDown" required="required">
				<option value="1">English</option>
				<option value="2">French</option>
			</select>
		</div>

		<div class="form-group">
			<label for="typechoice" class="required"><span class="field-name">Type</span> <strong class="required">(required)</strong></label>
			<select class="form-control" id="typechoice" aria-required="true" required="required">
				<option value=""></option>
				<option value="a">Letter</option>
				<option value="b">Number</option>
				<option value="n">N/A</option>
			</select>	
		</div>

		<div id="a-option" class="wb-invisible">
			<div class="form-group">
				<label for="letter" class="required"><span class="field-name">Type a letter</span><strong class="required">(required)</strong></label>
				<input class="form-control" id="letter" type="text" disabled="disabled" required="required" />
			</div>
		</div>

		<div id="b-option" class="wb-invisible">
			<div class="form-group">
				<label for="number" class="required"><span class="field-name">Type a number</span><strong class="required">(required)</strong></label>
				<input class="form-control" id="number" type="text" disabled="disabled" required="required" />
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>