<div class="col-md-12">
	<p>Transactions can be put online. Services cannot. Take, for
	example, the area of education. You can’t argue whether education can or
	cannot be put online. However there are hundreds of discrete transactions
	within education that can be evaluated, such as:</p>
	<table class="table">
		<caption>Suitable and not suitable for online actions</caption>
		<thead>
			<tr>
				<th>Suitable for online</th>
				<th>Not Suitable for Online</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>School place applications.</td>
				<td>Providing pastoral care.</td>
			</tr>
			<tr>
				<td>Sending school report to parents.</td>
				<td>Teaching classroom lessons.</td>
			</tr>
			<tr>
				<td>Searching for educational material.</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>