<div class="wb-tabs ignore-session">
	<div class="tabpanels">
		<details id="details-panel10">	
			<summary>Simple Table</summary>
			<p>	
				<table class="table">
					<caption>Population of Canada's provinces</caption>
					<thead>
						<tr>
							<th scope="col" id="Province">Province</th>
							<th scope="col" id="Population">Population</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Newfoundland and Labrador</td><td>513,636</td>
						</tr>
						<tr>
							<td>Prince Edward Island</td><td>145,927</td>
						</tr>
						<tr>
							<td>Nova Scotia</td><td>946,759</td>
						</tr>
						<tr>
							<td>New Brunswick</td><td>754,698</td>
						</tr>
						<tr>
							<td>Quebec</td><td>8,084,973</td>
						</tr>
						<tr>
							<td>Ontario</td><td>13,561,034</td>
						</tr>
						<tr>
							<td>Manitoba</td><td>1,274,279</td>
						</tr>
						<tr>
							<td>Saskatchewan</td><td>1,089,807</td>
						</tr>
						<tr>
							<td>Alberta</td><td>3,931,341</td>
						</tr>
						<tr>
							<td>British Columbia</td><td>4,639,862</td>
						</tr>
						<tr>
							<td>Yukon</td><td>36,215</td>
						</tr>
						<tr>
							<td>Northwest Territories</td><td>43,407</td>
						</tr>
						<tr>
							<td>Nunavut</td><td>34,126</td>
						</tr>
					</tbody>
				</table>
			</p>
		</details>
		<details id="details-panel20">	
			<summary>Complex Table</summary>
			<p>
				<table class="table">
					<caption>Consolidated Statement of Cash Flow (Unaudited)
						For the year ended March 31 (in thousands of dollars)</caption>
					<thead>
						<tr>
							<th id="item"><div class="wb-invisible">Item</div></th>
							<th class="align-right" id="year2009">2009</th>
							<th class="align-right" id="year2008">2008</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-header">
							<th colspan="3" id="operatingActivities" scope="rowgroup">Operating Activities</th>
						</tr>
						<tr>
							<th scope="row" id="netcost" headers="item operatingActivities">Net cost of operations</th>
							<td headers="year2009 operatingActivities netcost">2,296,145</td>
							<td headers="year2008 operatingActivities netcost">2,002,440</td>
						</tr>
					</tbody>
					<tbody>
						<tr class="table-header">
							<th colspan="3" id="nonCash" scope="rowgroup"><em>Non cash items:</em></th>
						</tr>
						<tr>
							<th scope="row" id="capitalAssets" headers="item nonCash">Amortization of tangible capital assets</th>
							<td headers="year2009 nonCash capitalAssets">(440,120)</td>
							<td headers="year2008 nonCash capitalAssets">(382,103)</td>
						</tr>
						<tr>
							<th scope="row" id="adjustementCapitalAssets" headers="item nonCash">Gain or loss on disposals / Adjustments of tangible capital assets</th>
							<td headers="year2009 nonCash adjustementCapitalAssets">(10,644)</td>
							<td headers="year2008 nonCash adjustementCapitalAssets">(154)</td>
						</tr>
						<tr>
							<th scope="row" id="servicesWithoutCharge" headers="item nonCash">Services received without charge from other government departments (Note&nbsp;12)</th>
							<td headers="year2009 nonCash servicesWithoutCharge">57,009)</td>
							<td headers="year2008 nonCash servicesWithoutCharge">(53,767)</td>
						</tr>
						<tr>
							<th scope="row" id="saleLeaseback" headers="item nonCash">Economic gain on sale-leaseback</th>
							<td headers="year2009 nonCash saleLeaseback">&mdash;</td>
							<td headers="year2008 nonCash saleLeaseback">163,662</td>
						</tr>
					</tbody>
					<tbody>
						<tr class="table-header">
							<th colspan="3" id="variations">Variations in Consolidated Statement of Financial Position:</th>
						</tr>
						<tr>
							<th scope="row" id="increaseAssets" headers="item variations">Increase in financial assets</th>
							<td headers="year2009 variations increaseAssets">35,151</td>
							<td headers="year2008 variations increaseAssets">25,568</td>
						</tr>
						<tr>
							<th scope="row" id="decreasePrePaid" headers="item variations">Decrease in prepaid expenses</th>
							<td headers="year2009 variations decreasePrePaid">(3,403)</td>
							<td headers="year2008 variations decreasePrePaid">(1,035)</td>
						</tr>
						<tr>
							<th scope="row" id="decreaseLiabilities" headers="item variations">(Increase) decrease in liabilities other than lease obligation for tangible capital assets</th>
							<td headers="year2009 variations decreaseLiabilities">(212,558)</td>
							<td headers="year2008 variations decreaseLiabilities">103,408</td>
						</tr>
						<tr>
							<th scope="row" id="cashUsed" headers="item variations">Cash used by operating activities</th>
							<td headers="year2009 variations cashUsed">1,607,562</td>
							<td headers="year2008 variations cashUsed">1,858,019</td>
						</tr>
					</tbody>
				</table>
			</p>			
		</details>
	</div>
</div>