<div class="col-md-12">
	<p>The purpose of the Web Standards presence on GCpedia is to encourage collaboration on common <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=23601" rel="external">Web accessibility</a>, <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227" rel="external">Web Usability</a>, <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=25875" rel="external">Web Interoperability</a>, <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27088" rel="external">Mobile Applications</a> and <a href="http://www.gcpedia.gc.ca/wiki/Draft_Standard_on_Email_Addresses" rel="external">Email Addresses</a> related issues. Individuals are encouraged to both improve and add to this existing presence to help develop guidance and solutions for common issues. The four Web Standards (Web Accessibility, Web Usability and Web Interoperability) have replaced the Common Look and Feel 2.0 Standards for the Internet (CLF2).</p>


	<h3>New standards for the Web, Email and mobile</h3>

	<p>The following Web Standards replace Common Look and Feel 2.0:
	<ul>
    	<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=23601" rel="external">Standard on Web Accessibility</a> was released in August 2011, and was updated on March 31, 2013. It replaces Part 2 of CLF 2.0.</li>
    	<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227" rel="external">Standard on Web Usability</a> was released in September 2011, and was updated on March 31, 2013. It replaces Parts 1 and 3 of CLF 2.0.</li>
    	<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=25875" rel="external">Standard on Web Interoperability</a> came into effect July 1, 2012 and was updated on March 31, 2013.</li>
    	<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27088" rel="external">Standard on Optimizing Websites and Applications for Mobile Devices</a> came into effect on April 1, 2013. </li>
    </ul></p>

	<p>The following policy instruments are under development:</p>
	<ul>
		<li><a href="http://www.gcpedia.gc.ca/wiki/Draft_Standard_on_Email_Addresses" rel="external">Draft Standard on Email Addresses</a> is now available in draft format for comment (Updated as of November 7, 2012). When approved, this Standard will replace Part 4 of CLF 2.0. </li>
		<li>The <a href="http://www.gcpedia.gc.ca/wiki/Draft_Guidance_on_Mobile_Standard" rel="external">Draft Guidance on Mobile Standard</a> supports the new Standard on Optimizing Websites and Applications for Mobile Devices. </li>
	</ul></p>	

</div>