<div class="col-md-12">WCAG 2 makes it easy to select the Success Criteria you want to conform to. On the "<a href="http://www.w3.org/WAI/WCAG20/quickref/Overview.php" rel="external">How to meet WCAG 2</a>" page, you can select the technologies you are using from the list. Then you can select the conformance level. Level "A" and level Double "AA" should be checked. You should also uncheck "Show ARIA techniques and failures" and "Show Advisory Techniques".
</div>