<div class="col-md-12">
	<strong><p id="timeoutText" aria-role="alert">This page will timeout in 20 seconds.</p></strong>	
	
	<p>Wouldn't it be great if you had enough time to read and understand the content on a page before some silly bit of code interrupted you?</p>
	<p>Some people think that it is helpful to whisk you away to a new page if they have removed content.</p>
	<p>Unfortunately, they rarely think about how confusing it might be for many different users.</p>

	<span class="wb-sessto" data-wb-sessto='{"inactivity": 20000, "reactionTime": 300000, "sessionalive": 12000000, "logouturl": "index-en.html", "refreshCallbackUrl": "./", "refreshOnClick": "true"}'></span>

</div>