---
{
	"title": "Horaire du Cours",
	"language": "fr",
	"altLangPrefix": "about-1.2",
	"dateModified": "2015-10-19",
	"previousURL": "about-1.1-fr.html",
	"nextURL": "ex-1-fr.html"
}
---
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="timetable table table-bordered table-striped">
				<caption>Horaire du cours</caption>
				<thead>
					<tr>
						<th scope="col">Temps</th>
						<th scope="col">Jour 1</th>
						<th scope="col">Jour 2</th>
						<th scope="col">Jour 3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><time>8:30</time> - <time>10:30</time></th>
						<td>Introduction</td>
						<td><ul class="list-unstyled">
							<li>Révision de Principe numéro 1</li>
							<li>Conférencier<sup id="fn1-rf"><a class="fn-lnk" href="#fn1"><span class="wb-inv">Note de bas de page </span>1</a></sup></li>
							</ul></td>
						<td><ul class="list-unstyled">
							<li>Principe 2: Utilisable (Suite)</li>
							<li>Révision de Principe 2</li>
							</ul></td>
					</tr>
					<tr>
						<th scope="row"><time>10:30</time> - <time>10:45</time></th>
						<td>PAUSE</td>
						<td>PAUSE</td>
						<td>PAUSE</td>
					</tr>
					<tr>
						<th scope="row"><time>10:45</time> - <time>12:00</time></th>
						<td><ul class="list-unstyled">
							<li>Outils utile d'évaluation en ligne</li>
							<li>Principe 1: Perceptible</li>
							</ul></td>
						<td>Conférencier (Suite)</td>
						<td>Principe 3: Understandable</td>
					</tr>
					<tr>
						<th scope="row"><time>12:00</time> - <time>1:00</time></th>
						<td>DINER</td>
						<td>DINER</td>
						<td>DINER</td>
					</tr>
					<tr>
						<th scope="row"><time>1:00</time> - <time>3:00</time></th>
						<td>Principe 1: Perceptible (Suite)</td>
						<td>Principe 2: Utilisable</td>
						<td>Principe 3: Understandable (Suite)</td>
					</tr>
					<tr>
						<th scope="row"><time>3:00</time> - <time>3:15</time></th>
						<td>PAUSE</td>
						<td>PAUSE</td>
						<td>PAUSE</td>
					</tr>
					<tr>
						<th scope="row"><time>3:15</time> - <time>4:30</time></th>
						<td>Principe 1: Perceptible (Suite)</td>
						<td>Principe 2: Utilisable (Suite)</td>
						<td><ul class="list-unstyled">
							<li>Principe 3: Understandable (Suite)</li>
							<li>Principe 4: Robuste</li>
							<li>Récapitulation de l’atelier</li>
							</ul></td>
					</tr>
				</tbody>
			</table>
		</div>
		<aside class="wb-fnote" role="note">
			<h23 id="fn">Notes de bas de page</h2>
			<dl>
				<dt>Note de bas de page 1</dt>
				<dd id="fn1">
					<p>Il peut y avoir des modifications au programme en fonction de l’horaire et de la disponibilité du conférencier.</p>
					<p class="fn-rtn">
						<a href="#fn1-rf"><span class="wb-inv">Retour à la référence de la note de bas de page </span>1</a>
					</p>
				</dd>
			</dl>
		</aside>
	</div>
</div>
