---
{
	"title": "Course Timetable",
	"language": "en",
	"altLangPrefix": "about-1.2",
	"dateModified": "2015-10-19",
	"previousURL": "about-1.1-en.html",
	"nextURL": "ex-1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="timetable table table-bordered table-striped">
				<caption>Course Timetable</caption>
				<thead>
					<tr>
						<th scope="col">Time</th>
						<th scope="col">Day 1</th>
						<th scope="col">Day 2</th>
						<th scope="col">Day 3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><time>8:30</time> - <time>10:30</time></th>
						<td>Introduction</td>
						<td><ul class="list-unstyled">
							<li>Principal 1 Review</li>
							<li>Guest Speaker<sup id="fn1-rf"><a class="fn-lnk" href="#fn1"><span class="wb-inv">Footnote </span>1</a></sup></li>
							</ul></td>
						<td><ul class="list-unstyled">
							<li>Principle 2: Operable (Continued)</li>
							<li>Review Principal 2</li>
							</ul></td>
					</tr>
					<tr>
						<th scope="row"><time>10:30</time> - <time>10:45</time></th>
						<td>BREAK</td>
						<td>BREAK</td>
						<td>BREAK</td>
					</tr>
					<tr>
						<th scope="row"><time>10:45</time> - <time>12:00</time></th>
						<td><ul class="list-unstyled">
							<li>Helpful Online Assessment Tools</li>
							<li>Principle 1: Perceivable (Continued)</li>
							</ul></td>
						<td>Guest Speaker (Continued)</td>
						<td>Principle 3: Understandable</td>
					</tr>
					<tr>
						<th scope="row"><time>12:00</time> - <time>1:00</time></th>
						<td>LUNCH</td>
						<td>LUNCH</td>
						<td>LUNCH</td>
					</tr>
					<tr>
						<th scope="row"><time>1:00</time> - <time>3:00</time></th>
						<td>Principle 1: Perceivable (Continued)</td>
						<td>Principle 2: Operable</td>
						<td>Principle 3: Understandable (Continued)</td>
					</tr>
					<tr>
						<th scope="row"><time>3:00</time> - <time>3:15</time></th>
						<td>BREAK</td>
						<td>BREAK</td>
						<td>BREAK</td>
					</tr>
					<tr>
						<th scope="row"><time>3:15</time> - <time>4:30</time></th>
						<td>Principle 1: Perceivable (Continued)</td>
						<td>Principle 2: Operable (Continued)</td>
						<td><ul class="list-unstyled">
							<li>Principle 3: Understandable (Continued)</li>
							<li>Principle 4: Robust</li>
							<li>Workshop Recap</li>
							</ul></td>
					</tr>
				</tbody>
			</table>
		</div>
		<aside class="wb-fnote" role="note">
			<h2 id="fn">Footnotes</h2>
			<dl>
				<dt>Footnote 1</dt>
				<dd id="fn1">
					<p>The timetable will change depending on the schedule/availability of the guest speaker.</p>
					<p class="fn-rtn">
						<a href="#fn1-rf"><span class="wb-inv">Return to footnote </span>1<span class="wb-inv"> referrer</span></a>
					</p>
				</dd>
			</dl>
		</aside>
	</div>
</div>
