---
{
	"title": "Bad Examples of Guideline 3.2 Predictable",
	"language": "en",
	"altLangPrefix": "bad-3.2",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-3.1-en.html",
	"nextURL": "bad-3.3-en.html",
	"ExtraJS": "bad-3.2",
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Keyboard Accessible" "Proper something something" "Bad" "bad-3.2" "bad-3.2-ex1"}}}
	</div>
</div>