---
{
	"title": "Bad Examples of Guideline 2.2 Enough Time",
	"language": "en",
	"altLangPrefix": "bad-2.2",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-2.1-en.html",
	"nextURL": "bad-2.3-en.html",
	"ExtraJS": "bad-2.2"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Keyboard Accessible" "Proper something something" "Bad" "bad-2.2" "bad-2.2-ex1"}}}
	</div>
</div>