---
{
	"title": "Bad Examples of Guideline 4.1 Compatible",
	"language": "en",
	"altLangPrefix": "bad-4.1",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-3.3-en.html",
	"nextURL": "good-1.1-en.html",
	"ExtraJS": "bad-4.1",
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Compatible" "Proper something something" "Bad" "bad-4.1" "bad-4.1-ex1"}}}
	</div>
</div>