---
{
	"title": "Bad Examples of Guideline 1.3 Adaptable",
	"language": "en",
	"altLangPrefix": "bad-1.3",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-1.2-en.html",
	"nextURL": "bad-1.4-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Adaptable" "Proper something something" "Bad" "bad-1.3" "bad-1.3-ex1,bad-1.3-ex2,bad-1.3-ex3,bad-1.3-ex4"}}}
	</div>
</div>