---
{
	"title": "Bad Examples of Guideline 1.1 Text Alternatives",
	"language": "en",
	"altLangPrefix": "bad-1.1",	
	"dateModified": "2015-10-19",
	"previousURL": "ex-9-en.html",
	"nextURL": "bad-1.2-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "ALT Text" "Proper ALT Contents" "Bad" "bad-1.1" "bad-1.1-ex1,bad-1.1-ex2,bad-1.1-ex3,bad-1.1-ex4,bad-1.1-ex5"}}}
	</div>
</div>