---
{
	"title": "Bad Examples of Guideline 1.2 Time-based Media",
	"language": "en",
	"altLangPrefix": "bad-1.2",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-1.1-en.html",
	"nextURL": "bad-1.3-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Audio and Video" "Proper Audio and Video Contents" "Bad" "bad-1.2" "bad-1.2-ex1,bad-1.2-ex2"}}}
	</div>
</div>