---
{
	"title": "Bad Examples of Guideline 1.4 Distinguishable",
	"language": "en",
	"altLangPrefix": "bad-1.4",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-1.3-en.html",
	"nextURL": "bad-2.1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Distinguishable" "Proper something something" "Bad" "bad-1.4" "bad-1.4-ex1,bad-1.4-ex2,bad-1.4-ex3"}}}
	</div>
</div>