---
{
	"title": "Bad Examples of Guideline 3.3 Input Assistance",
	"language": "en",
	"altLangPrefix": "bad-3.3",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-3.2-en.html",
	"nextURL": "bad-4.1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Input Assistance" "Proper something something" "Bad" "bad-3.3" "bad-3.3-ex1"}}}
	</div>
</div>