---
{
	"title": "Bad Examples of Guideline 2.3 Seizures",
	"language": "en",
	"altLangPrefix": "bad-2.3",	
	"dateModified": "2015-10-19",
	"previousURL": "bad-2.2-en.html",
	"nextURL": "bad-2.4-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Seizures" "Proper something something" "Bad" "bad-2.3" "bad-2.3-ex1"}}}
	</div>
</div>