---
{
	"title": "Course References",
	"language": "en",
	"altLangPrefix": "course-ref",	
	"dateModified": "2015-10-19"
}
---
<div class="row">
	<div class="col-md-12">
		<h2>Accessibility/Usability</h2>
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Accessibility ">Definition of Accessibility</a></li>
			<li><a href="http://www.nngroup.com/articles/usability-101-introduction-to-usability/">Definition of Usability</a></li>
		</ul>

		<h2>Government of Canada Web Resources</h2>
		<ul>
			<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?section=text&id=23601">Standard on Web Accessibility</a></li>
			<li><a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?section=text&id=24227">Standard on Web Usability</a></li>
			<li><a href="https://www.tbs-sct.gc.ca/ws-nw/wa-aw/wa-aw-guid-eng.asp">Guidance on Implementing the Standard on Web Accessibility</a></li>
			<li><a href="http://www.tbs-sct.gc.ca/ws-nw/wu-fe/rot-rid/index-eng.asp">Reduce Redundant, Outdated and Trivial Content</a></li>
			<li><a href="http://wet-boew.github.io/wet-boew/index-en.html">Web Experience Toolkit (WET)</a></li>
			<li><a href="http://bit.ly/wet-boew">Short URL for the WET</a></li>
			<li><a href="http://wet-boew.github.io/wet-boew/demos/arb-rra/arb-rra-en.html">Accessibility Responsibility Breakdown</a></li>
			<li><a href="http://wet-boew.github.io/wet-boew/demos/wamethod/wamethod-en.html">Web Accessibility Assessment Methodology</a></li>
			<li><a href="http://www.gcpedia.gc.ca/wiki/Social_Media_Toolkit">Social Media Toolkit</a></li>
		</ul>

		<h2>World Wide Web Consortium Web Resources</h2>
		<ul>
			<li><a href="http://www.w3.org/WAI/">W3C Web Accessibility Initiative (WAI)</a></li>
			<li><a href="http://www.w3.org/TR/WCAG20/">W3C Web Content Accessibility Guideline (WCAG) 2.0)</a></li>
			<li><a href="http://www.w3.org/WAI/WCAG20/quickref/">W3C WCAG 2.0 Quick Reference Document</a></li>
			<li><a href="http://www.w3.org/2009/cheatsheet/#wcag2">Accessibility WCAG 2.0 at a glance</a></li>
			<li><a href="http://www.w3.org/WAI/WCAG20/from10/comparison">W3C Comparison of WCAG 1 to 2.0</a></li>
			<li><a href="http://www.w3.org/WAI/GL/WCAG20-TECHS/pdf.html">W3C PDF Techniques for WCAG 2.0</a></li>
			<li><a href="http://www.w3.org/WAI/intro/aria">W3C Accessible Rich Internet Applications (WAI-ARIA)</a></li>
			<li><a href="http://www.w3.org/WAI/demos/bad">W3C Citylights: Before and After Demonstration</a></li>
			<li><a href="http://www.w3.org/TR/html5/">W3C HTML5 (Candidate Recommendation)</a></li>
			<li><a href="http://www.w3.org/WAI/mobile/">W3C Web Content Accessibility and Mobile Web</a></li>
			<li><a href="http://www.w3.org/TR/WCAG20-TECHS/">W3C WCAG 2.0 Technique Collections</a></li>
			<li><a href="http://www.w3.org/TR/xhtml1/">W3C XHTML 1.0 </a></li>
		</ul>

		<h2>Other Web Accessibility Resources</h2>
		<ul>
			<li><a href="http://www.lowvisionsimulationkit.com/kit_contents">User Experience Tool Kit</a></li>
			<li><a href="http://webaim.org/intro/">Web Accessibility In Mind (WebAIM)</a></li>
			<li><a href="http://webaim.org/articles/userperspective/ ">Consider User perspectives</a></li>
			<li><a href="http://inclusivedesign.ca/">Inclusive Design Institute (IDI)</a></li>
			<li><a href="https://support.google.com/youtube/answer/2734796?hl=en">YouTube Captions</a></li>
		</ul>

		<h2>Accessibility Related Tools</h2>
		<ul>
			<li><a href="http://www.paciellogroup.com/resources/contrast-analyser.html">Color Contrast Analyzer</a></li>
			<li><a href="http://wave.webaim.org/toolbar/">Firefox Wave Toolbar Add-on</a></li>
			<li><a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/">Firefox Web Developer Toolbar Add-on</a></li>
			<li><a href="https://addons.mozilla.org/en-us/firefox/addon/wcag-contrast-checker/">Firefox Color Checker Add-on</a></li>
			<li><a href="http://www.visionaustralia.org/business-and-professionals/digital-access/resources/tools-to-download/complex-data-table-markup-toolbar">Complex Data Table Markup Toolbar</a></li>
			<li><a href="https://addons.mozilla.org/en-us/firefox/addon/firebug/">FireBug</a></li>
			<li><a href="https://addons.mozilla.org/en-us/firefox/addon/accessibility-evaluation-toolb">Accessibility Evaluation Toolbar</a></li>
			<li><a href="http://bitly.com/bundles/gmyxgpws/2">Quick List of Toolbars</a></li>
			<li><a href="http://www.paciellogroup.com/resources/wat-ie-about.html">Internet Explorer Web Accessibility Toolbar</a></li>
		</ul>
	</div>
</div>
