---
{
	"title": "Exercice 1: Exercice de présentation",
	"language": "fr",
	"altLangPrefix": "ex-1",
	"dateModified": "2015-10-19",
	"previousURL": "about-1.2-fr.html",
	"nextURL": "ex-2-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex1 %>
}
---