---
{
	"title": "Exercise 1: Group Introduction Exercise",
	"language": "en",
	"altLangPrefix": "ex-1",
	"dateModified": "2015-10-19",
	"previousURL": "about-1.2-en.html",
	"nextURL": "ex-2-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex1 %>
}
---

