---
{
	"title": "Exercise 2: Accessibility video and Group Discussion",
	"language": "en",
	"altLangPrefix": "ex-2",
	"dateModified": "2015-10-19",
	"previousURL": "ex-1-en.html",
	"nextURL": "ex-3-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex2 %>
}
---