---
{
	"title": "Exercise 2: Vidéo sur l'accessibilité et discussiond de groupe",
	"language": "fr",
	"altLangPrefix": "ex-2",
	"dateModified": "2015-10-19",
	"previousURL": "ex-1-fr.html",
	"nextURL": "ex-3-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex2 %>
}
---
