---
{
	"title": "Exercice 3: W3C Citylights: Avant et Après",
	"language": "fr",
	"altLangPrefix": "ex-3",
	"dateModified": "2015-10-19",
	"previousURL": "ex-2-fr.html",
	"nextURL": "ex-4-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex3 %>
}
---