---
{
	"title": "Exercise 3: W3C Citylights: Before And After (Principal 1)",
	"language": "en",
	"altLangPrefix": "ex-3",
	"dateModified": "2015-10-19",
	"previousURL": "ex-2-en.html",
	"nextURL": "ex-4-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex3 %>
}
---

