---
{
	"title": "Exercise 4: Principal 1 review",
	"language": "en",
	"altLangPrefix": "ex-4",
	"dateModified": "2015-10-19",
	"previousURL": "ex-3-en.html",
	"nextURL": "ex-5-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex4 %>
}
---

