---
{
	"title": "Exercice 5: Trouver des techniques suffisantes pout principe 1 et 2",
	"language": "fr",
	"altLangPrefix": "ex-5",
	"dateModified": "2015-10-19",
	"previousURL": "ex-4-fr.html",
	"nextURL": "ex-6-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex5 %>
}
---