---
{
	"title": "Exercise 5: Finding Sufficient techniques",
	"language": "en",
	"altLangPrefix": "ex-5",
	"dateModified": "2015-10-19",
	"previousURL": "ex-4-en.html",
	"nextURL": "ex-6-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex5 %>
}
---

