---
{
	"title": "Exercice 6: Analyse du principe 2",
	"language": "fr",
	"altLangPrefix": "ex-6",
	"dateModified": "2015-10-19",
	"previousURL": "ex-5-fr.html",
	"nextURL": "ex-7-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex6 %>
}
---