---
{
	"title": "Exercise 6: Principle 2 Review",
	"language": "en",
	"altLangPrefix": "ex-6",
	"dateModified": "2015-10-19",
	"previousURL": "ex-5-en.html",
	"nextURL": "ex-7-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex6 %>
}
---

