---
{
	"title": "Exercise 7: Teaching principles 3 and 4 to the class",
	"language": "en",
	"altLangPrefix": "ex-7",
	"dateModified": "2015-10-19",
	"previousURL": "ex-6-en.html",
	"nextURL": "ex-8-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex7 %>
}
---

