---
{
	"title": "Exercice 7: Enseigner les principes 3 et 4 au groupe",
	"language": "fr",
	"altLangPrefix": "ex-7",
	"dateModified": "2015-10-19",
	"previousURL": "ex-6-fr.html",
	"nextURL": "ex-8-fr.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex7 %>
}
---