---
{
	"title": "Exercise 8: Principles 3 and 4 review",
	"language": "en",
	"altLangPrefix": "ex-8",
	"dateModified": "2015-10-19",
	"previousURL": "ex-7-en.html",
	"nextURL": "ex-9-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex8 %>
}
---

