---
{
	"title": "Exercise 9: Group review exercise",
	"language": "en",
	"altLangPrefix": "ex-9",
	"dateModified": "2015-10-19",
	"previousURL": "ex-8-en.html",
	"nextURL": "ex-9-en.html",
	"layout": "exquestions.hbs",
	"ex-file": <%= ex9 %>
}
---

