---
{
	"title": "Good Examples of Forms",
	"language": "en",
	"altLangPrefix": "form-good-1",	
	"dateModified": "2015-10-19",
	"nextURL": "form-good-2-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		<h2>Send feedback.</h2>
		<form id="a11yfail" role="form" method="get" action="thanks-en.html">
			<div class="form-group"><label for="fname">First Name : </label><input id="fname" class="form-control" type="text"  /></div>
			<div class="form-group"><label for="lname">Last Name : </label><input id="lname" class="form-control" type="text" /></div>
			<div class="form-group"><label for="dateBy">Please respond by: </label><input class="form-control" id="dateBy" type="text" /></div>
			<div class="form-group"><label for="message">Your Message : </label><textarea id="message" class="form-control" cols="40" form-groups="10" ></textarea></div>
			<div class="form-group"><fieldset><legend>Show to contact you </legend>
				<input type="radio" value="email" class="otherinput" name="ccb" id="ccbEmail" /><label for="ccbEmail">EMail</label>
				<input type="radio" value="phone" class="otherinput" name="ccb" id="ccbPhone" /><label for="ccbPhone">Phone</label></div>
			<div class="form-group"><input id="agree" type="checkbox" class="otherinput" /><label for="agree">I agree that my comments are not confidential and will be held agaisnt me in my day-to-day life.</label></div>
			<div class="form-group"><button type="submit">Submit</button></div>
		</form>
	</div>
</div>