---
{
	"title": "Bad Examples of Forms",
	"language": "en",
	"altLangPrefix": "form-bad-1",	
	"dateModified": "2015-10-19",	
	"nextURL": "form-bad-2-en.html",
	"ExtraJS": "form-bad-1",
	"ExtraCSS": "form-bad-1"
}
---
<div class="row">
	<div class="col-md-12">
		<h2>Send feedback.</h2>
		<form id="a11yfail" role="form" method="get" action="thanks-en.html">
			<div class="form-group">Name : <input class="form-control" type="text" tabindex="5" /></div>
			<div class="form-group">Last Name : <input class="form-control" type="text" tabindex="3"/></div>
			<div class="form-group">Please respond by: <input class="form-control" id="dateBy" type="text" tabindex="6"/></div>
			<div class="form-group">Message : <textarea class="form-control" cols="40" form-groups="10" tabindex="2"></textarea></div>
			<div class="form-group">Show to contact you <br />
				<input type="radio" value="email" class="otherinput" name="ccb" /> E-Mail
				<input type="radio" value="phone" class="otherinput" name="ccb"/> Phone </div>
			<div class="form-group"><input id="dateBy" type="checkbox" class="otherinput" tabindex="6"/>&nbsp;I agree that my comments are not confidential and will be held against me in my day-to-day life.</div>
			<div class="form-group"><div class="col-md-3"> <span id="fakebutton" class="btn btn-primary btn-block" tabindex="1">Submit</span></div>
		</form>
	</div>
</div>