---
{
	"title": "Bad Examples of Forms 3",
	"language": "en",
	"altLangPrefix": "form-good-3",	
	"dateModified": "2015-10-19",
	"previousURL": "form-good-2-en.html",
	"nextURL": "index-en.html"	
}
---
	<h2>Create an account</h2>
	<form role="form" method="get" action="thanks-en.html">
		<div class="form-group">
			<label for="email">Email Address: </label>
			<input id="email" class="form-control" type="text" />
		</div>
		<div class="form-group">
			<label for="emailagain">Re-enter EMail Address: </label>
			<input id="emailagain" class="form-control" type="text" />
		</div>
		<p>  	
			<h2>Protect your information with a Password</h2>
			<pre id="passwordInfo">
Password should be at least 7 characters long with one of each of the following:
- Uppercase letter
- Lowercase letter
- Special character or number</pre>
		</p>
		<div class="form-group">
			<label for="password">Enter a new password: </label>
			<input id="password" class="form-control" type="password" aria-describedby="passwordInfo" placeholder="Leave blank..." />
		</div>
		<div class="form-group">
			<label for="passwordagain">Confirm password: </label>
			<input id="passwordagain" class="form-control" type="password" placeholder="Leave blank..." />
		</div>
 		
		<h2>Your MyAccount Information...</h2>	
		<div class="form-group">
			<label for="fname">First Name: </label>
			<input id="fname" class="form-control" type="text" />
		</div>
		<div class="form-group">
			<label for="lname">Last Name: </label>
			<input id="lname" class="form-control" type="text" />
		</div>	
		<div class="form-group">
			<label for="dept">Department</label>
			<input id="dept" class="form-control" type="text" /></textarea> 			
		</div>		
		<div class="form-group">
			<label for="address">Address  </label>
			<textarea id="address" class="form-control" rows="3" cols="80" /></textarea> 			
		</div>
		<div class="form-group">
			<label for="city">City:</label>
			<input id="city" class="form-control" type="text" />
		</div>		
		<div class="form-group">
			<label for="province">Province:</label>					
			<select id="province" class="form-control">
				<option value="false">Select Province</option>
				<option value="AB">Alberta</option>
				<option value="BC">British Columbia</option>
				<option value="MB">Manitoba</option>
				<option value="NL">Newfoundland and Labrador </option>
				<option value="NB">New Brunswick</option>
				<option value="NT">Northwest Territories </option>
				<option value="NS">Nova Scotia</option>
				<option value="NU">Nunavut</option> 
				<option value="ON">Ontario</option>
				<option value="PE">Prince Edward Island </option>
				<option value="QC">Quebec</option>
				<option value="SK">Saskatchewan</option>
				<option value="YK">Yukon</option>
			</select>
		</div> 
 			<div class="form-group">
			<label for="pcode">Postal Code: </label>
			<input id="pcode" class="form-control" type="text" />
		</div>
		<div class="form-group">
			<label for="tel">Phone Number:   </label>
			<input id="tel" class="form-control" type="text" />
		</div>	
		<div class="form-group">
			<label for="fax">Fax: </label>
			<input id="fax" class="form-control" type="text" />
		</div> 
	
		<div class="form-group">
			If you are having issues with this form, please contact <a href="mailto:someone@who.cares">dev@null.ca</a>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>