---
{
	"title": "Good Examples of Guideline 2.1 Keyboard Accessible",
	"language": "en",
	"altLangPrefix": "good-2.1",	
	"dateModified": "2015-10-19",
	"previousURL": "good-1.4-en.html",
	"nextURL": "good-2.2-en.html",
	"ExtraJS": "good-2.1",
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Keyboard Accessible" "Proper something something" "good" "good-2.1" "good-2.1-ex1,good-2.1-ex2"}}}
	</div>
</div>