---
{
	"title": "Good Examples of Guideline 2.2 Enough Time",
	"language": "en",
	"altLangPrefix": "good-2.2",	
	"dateModified": "2015-10-19",
	"previousURL": "good-2.1-en.html",
	"nextURL": "good-2.3-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Enough Time" "Proper something something" "good" "good-2.2" "good-2.2-ex1"}}}
	</div>
</div>