---
{
	"title": "Good Examples of Guideline 2.3 Seizures",
	"language": "en",
	"altLangPrefix": "good-2.3",	
	"dateModified": "2015-10-19",
	"previousURL": "good-2.2-en.html",
	"nextURL": "good-2.4-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Seizures" "Proper something something" "good" "good-2.3" "good-2.3-ex1"}}}
	</div>
</div>