---
{
	"title": "Good Examples of Guideline 1.3 Adaptable",
	"language": "en",
	"altLangPrefix": "good-1.3",	
	"dateModified": "2015-10-19",
	"previousURL": "good-1.2-en.html",
	"nextURL": "good-1.4-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Adaptable" "Proper something something" "good" "good-1.3" "good-1.3-ex1,good-1.3-ex2,good-1.3-ex3"}}}
	</div>
</div>