---
{
	"title": "Good Examples of Guideline 4.1 Compatible",
	"language": "en",
	"altLangPrefix": "good-4.1",	
	"dateModified": "2015-10-19",
	"previousURL": "good-3.3-en.html",
	"nextURL": "good-1.1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Compatible" "Proper something something" "good" "good-4.1" "good-4.1-ex1"}}}
	</div>
</div>