---
{
	"title": "Good Examples of Guideline 3.1 Readable",
	"language": "en",
	"altLangPrefix": "good-3.1",	
	"dateModified": "2015-10-19",
	"previousURL": "good-2.4-en.html",
	"nextURL": "good-3.2-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Readable" "Proper something something" "good" "good-3.1" "good-3.1-ex1"}}}
	</div>
</div>