---
{
	"title": "Good Examples of Guideline 3.3 Input Assistance",
	"language": "en",
	"altLangPrefix": "good-3.3",	
	"dateModified": "2015-10-19",
	"previousURL": "good-3.2-en.html",
	"nextURL": "good-4.1-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		{{{example "Input Assistance" "Proper something something" "good" "good-3.3" "good-3.3-ex1"}}}
	</div>
</div>