---
{
	"title": "La norme sur l’accessibilité du Web du gouvernement du Canada (T710)",
	"language": "fr",
	"altLangPrefix": "index",	
	"dateModified": "2014-09-18",
	"nextURL": "about-1.1-fr.html"
}
---
<div class="row">	
	<div class="col-md-8">
		<p>Le cours décrit les normes et les lignes directrices fédérales à l’égard de l’accessibilité du Web et met l’accent sur les exigences, les rôles et les responsabilités qu’implique la conformité à cette norme. Les participants découvriront les ressources fiables qui sont à leur disposition et comment les mettre en œuvre de manière uniforme, ainsi que la méthodologie d’évaluation servant à déterminer la conformité ministérielle et à en rendre compte.</p>
		<div class="row">
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Mauvais examples</h2>
						<p>Exemples montrant quelques-unes des façons de provoquer des questions d'accessibilité</p>
						<ul class="text-center list-unstyled">
							<li>							
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-perceivable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-1.1-{{language}}.html">{{{i18n "wcag-1-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-1.2-{{language}}.html">{{{i18n "wcag-1-2"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-1.3-{{language}}.html">{{{i18n "wcag-1-3"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-1.4-{{language}}.html">{{{i18n "wcag-1-4"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>

							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-operable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-2.1-{{language}}.html">{{{i18n "wcag-2-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-2.2-{{language}}.html">{{{i18n "wcag-2-2"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-2.3-{{language}}.html">{{{i18n "wcag-2-3"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-2.4-{{language}}.html">{{{i18n "wcag-2-4"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-understandable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-3.1-{{language}}.html">{{{i18n "wcag-3-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-3.2-{{language}}.html">{{{i18n "wcag-3-2"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="bad-3.3-{{language}}.html">{{{i18n "wcag-3-3"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-robust"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="bad-4.1-{{language}}.html">{{{i18n "wcag-4-1"}}}<span class="wb-inv"> - {{{i18n "menu-bad"}}}</span></a></li>
									</ul>
								</details>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Bon examples</h2>
						<p>Exemples montrant quelques-unes des façons de corriger les questions d'accessibilité</p>
						<ul class="text-center list-unstyled">
							<li>							
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-perceivable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-1.1-{{language}}.html">{{{i18n "wcag-1-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-1.2-{{language}}.html">{{{i18n "wcag-1-2"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-1.3-{{language}}.html">{{{i18n "wcag-1-3"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-1.4-{{language}}.html">{{{i18n "wcag-1-4"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>

							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-operable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-2.1-{{language}}.html">{{{i18n "wcag-2-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-2.2-{{language}}.html">{{{i18n "wcag-2-2"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-2.3-{{language}}.html">{{{i18n "wcag-2-3"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-2.4-{{language}}.html">{{{i18n "wcag-2-4"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-understandable"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-3.1-{{language}}.html">{{{i18n "wcag-3-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-3.2-{{language}}.html">{{{i18n "wcag-3-2"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
										<li><a class="btn btn-primary btn-block" href="good-3.3-{{language}}.html">{{{i18n "wcag-3-3"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>
							<li class="mrgn-tp-sm">
								<details>
									<summary class="btn btn-primary btn-block">{{{i18n "wcag-robust"}}}</summary>
									<ul class="text-center list-unstyled">
										<li><a class="btn btn-primary btn-block" href="good-4.1-{{language}}.html">{{{i18n "wcag-4-1"}}}<span class="wb-inv"> - {{{i18n "menu-good"}}}</span></a></li>
									</ul>
								</details>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>
		

	<div class="col-md-4">
		<div class="well">
		<h2 class="mrgn-tp-0 h3">References</h2>
			<section class="panel panel-default">
				<div class="panel-body">
					<h3 class="mrgn-tp-0 h4">{{{i18n "ref-1"}}}</h3>
					<p>Pour la<strong>liste actuelle des Techniques suffisantes et Échecs fréquents</strong> {{{i18n "english-only"}}}.</p>
					<p><a href="http://www.w3.org/WAI/WCAG20/quickref/" class="btn btn-info btn-block">{{{i18n "ref-1"}}}</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">
					<h3 class="mrgn-tp-0 h4">{{{i18n "wcag-name"}}}</h3>
					<p>Pour la <strong>documentation officielle de la norme</strong>.</p>
					<p><a href="http://www.w3.org/Translations/WCAG20-fr" class="btn btn-info btn-block">{{{i18n "wcag-name"}}}</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">		
					<h3 class="mrgn-tp-0 h4">{{{i18n "ref-3"}}}</h3>
					<p>Pour une <strong>liste de contrôle simplifiée pour aider à la conformité de l'accessibilité</strong> {{{i18n "english-only"}}}.</p>
					<p><a href="http://webaim.org/standards/wcag/checklist" class="btn btn-info btn-block">{{{i18n "ref-3"}}}</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">
					<h3 class="mrgn-tp-0 h4">{{{i18n "tmpl-wet"}}}</h3>
					<p>La <strong>structure pour tous les site publics du gouvernement du Canada</strong>.</p>					
					<details>
						<summary class="btn btn-info btn-block">{{{i18n "tmpl-wet"}}}</summary>
						<ul class="text-center list-unstyled">
							<li><a class="btn btn-info btn-block" href="http://wet-boew.github.io/wet-boew/index-{{language}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-home-page"}}}</a></li>
							<li><a class="btn btn-info btn-block" href="http://wet-boew.github.io/v4.0-ci/demos/index-{{language}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-work-examples"}}}</a></li>
							<li><a class="btn btn-info btn-block" href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-{{language}}.html">{{{i18n "wet-abbr"}}} {{{i18n "tmpl-style-guide"}}}</a></li>
						</ul>
					</details>					
				</div>
			</section>
		</div>
	</div></div>
