---
{
	"title": "Language selection - Web Accessibility Standard for the Goverment of Canada (T710) - La norme sur l’accessibilité du Web du gouvernement du Canada (T710)",	
	"language": "en",
	"layout": "splashpage.hbs"	
}
---

<section class="col-md-6">
	<h2 class="h3 text-center">{{{i18n "site-title" language="en"}}}</h2>
	<a class="btn btn-lg btn-primary btn-block" href="index-en.html">English</a>
	<a class="btn btn-lg btn-default btn-block" href="License-en.html" rel="license">Terms and conditions of use</a>
</section>

<section class="col-md-6" lang="fr">
	<h2 class="h3 text-center">{{{i18n "site-title" language="fr"}}}</h2>
	<a class="btn btn-lg btn-primary btn-block" href="index-fr.html">Français</a>
	<a class="btn btn-lg btn-default btn-block" href="Licence-fr.html" rel="license">Conditions régissant l'utilisation</a>
</section>