---
{
	"title": "Background and Intent",
	"language": "en",
	"altLangPrefix": "about-1.1",	
	"dateModified": "2015-10-19",
	"previousURL": "index-en.html",
	"nextURL": "about-1.2-en.html"
}
---
<div class="row">
	<div class="col-md-12">
		<h1>Thanks!</h1>
		<p>Thank you for hitting the submit. As this is a test site, nothing was really submitted and it is therefore destroyed. Still, only use test data.</p>

		<p>Enjoy!</p>
	</div>
</div>