<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{language}}"dir="{{{i18n "lang-dir"}}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{language}}" dir="{{{i18n "lang-dir"}}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		{{>license}}
		<title>{{>pagetitle}}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{{#if page.description }}{{page.description}}{{else}}{{{i18n "site-description"}}}{{/if}}" />
		<!-- Meta data-->
		{{>headresources}}	
		<link rel="stylesheet" href="css/previousnext.css" />
		<link rel="stylesheet" href="css/tryit.css" />
</style>
		{{{tryit-css tryitParts}}}
	</head>
	<body {{#if pageclass}}class="{{pageclass}}" {{/if}}vocab="http://schema.org/" typeof="WebPage">
		{{>body}}
		{{>footerresources}}		
		<script type="text/Javascript">var tryitStartOn="{{tryItStartOn}}"</script>		
		<script type="text/Javascript" src="js/tryit.js"></script>		
		{{#isnt tryitExtraJS null}}<script type="text/Javascript" src="js/{{tryitSource}}/{{tryitExtraJS}}.js"></script>	{{/isnt}}
		{{#isnt ExtraJS null}}<script type="text/Javascript" src="js/{{ExtraJS}}.js"></script>	{{/isnt}}
	</body>
</html>
